
<!-- Include Header -->
<%- include('includes/_header') %>
<!-- Include Header -->
<!-- Main Content -->

<main id="site-main" class="py-5">
    <h1 class="text-center py-5">User Management System</h1>
    <h3 class="text-center">Add User</h3>
    <div class="container">

        <%- include('includes/_form') %>
        
    </div>


    <!-- Modal -->

</main>

<!-- Main Content -->
<!-- Include Footer-->
<%- include('includes/_footer') %>
<!-- Include Footer-->